In [48]:
# Company Data Exercise

In [176]:
import pandas as pd
import numpy as np
# Reading the Company Data #################
data = pd.read_csv("Company_Data.csv")
data.head()

,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US,Sales
0,138,73,11,276,120,Bad,42,17,Yes,Yes,9.50
1,111,48,16,260,83,Good,65,10,Yes,Yes,11.22
2,113,35,10,269,80,Medium,59,12,Yes,Yes,10.06
3,117,100,4,466,97,Medium,55,14,Yes,Yes,7.40
4,141,64,3,340,128,Bad,38,13,Yes,No,4.15

In [177]:
from sklearn import preprocessing 
label_encoder = preprocessing.LabelEncoder()

data['Urban']= label_encoder.fit_transform(data['Urban']) 

label_encoder = preprocessing.LabelEncoder()
data['US']= label_encoder.fit_transform(data['US']) 

label_encoder = preprocessing.LabelEncoder()
data['ShelveLoc']= label_encoder.fit_transform(data['ShelveLoc']) 

label_encoder = preprocessing.LabelEncoder()
data['Sales']= label_encoder.fit_transform(data['Sales'])

In [178]:
data.columns
colnames = list(data.columns)

In [179]:
predictors = colnames[:10]
target = colnames[10]

In [180]:
X = data[predictors]
Y = data[target]

In [181]:
from sklearn.ensemble import RandomForestClassifier
rfdata = RandomForestClassifier(n_jobs=4,oob_score=True,n_estimators=100,criterion="entropy")

In [182]:
rfdata.fit(X,Y)

RandomForestClassifier(criterion='entropy', n_jobs=4, oob_score=True)

In [183]:
data["rf_pred"] = rfdata.predict(X)

In [184]:
from sklearn.metrics import confusion_matrix
confusion_matrix(data["Sales"],data["rf_pred"])

array([[1, 0, 0, ..., 0, 0, 0],
       [0, 1, 0, ..., 0, 0, 0],
       [0, 0, 1, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 1, 0, 0],
       [0, 0, 0, ..., 0, 1, 0],
       [0, 0, 0, ..., 0, 0, 1]], dtype=int64)

In [185]:
from sklearn.model_selection import train_test_split

In [186]:
# Splitting data into train & test
Xtrain, Xtest, ytrain, ytest = train_test_split(X, Y, test_size=0.2, random_state=0)

In [187]:
#Choosing RandomForestClassifier
from sklearn.ensemble import RandomForestClassifier

In [188]:
forest = RandomForestClassifier(n_estimators=100,max_depth=10,min_samples_split=20,criterion='gini')  # n_estimators is the number of decision trees
forest.fit(Xtrain, ytrain)

RandomForestClassifier(max_depth=10, min_samples_split=20)

In [189]:
print('Train accuracy: {}'.format(forest.score(Xtrain, ytrain)))
print('Test accuracy: {}'.format(forest.score(Xtest, ytest)))

Train accuracy: 0.940625
Test accuracy: 0.0

In [190]:
# Fraud Check Exercise

In [191]:
import pandas as pd
import numpy as np
# Reading the Fraud Check Data #################
data = pd.read_csv("Fraud_check.csv")
data.head()

,Undergrad,Marital Status,City Population,Work Experience,Urban,TaxableIncome
0,NO,Single,50047,10,YES,68833
1,YES,Divorced,134075,18,YES,33700
2,NO,Married,160205,30,YES,36925
3,YES,Single,193264,15,YES,50190
4,NO,Married,27533,28,NO,81002

In [192]:
from sklearn.preprocessing import LabelEncoder
from sklearn import preprocessing 

label_encoder = preprocessing.LabelEncoder()
data['Marital Status']= label_encoder.fit_transform(data['Marital Status']) 

label_encoder = preprocessing.LabelEncoder()
data['Urban']= label_encoder.fit_transform(data['Urban']) 

label_encoder = preprocessing.LabelEncoder()
data['Undergrad']= label_encoder.fit_transform(data['Undergrad']) 

label_encoder = preprocessing.LabelEncoder()
data['TaxableIncome']= label_encoder.fit_transform(data['TaxableIncome'])

In [193]:
X=data[["Undergrad","Marital Status","City Population","Work Experience","Urban"]]
y=data[["TaxableIncome"]]

In [163]:
from sklearn.ensemble import RandomForestClassifier
rfdata = RandomForestClassifier(n_jobs=4,oob_score=True,n_estimators=100,criterion="entropy")

In [164]:
rfdata.fit(X,y)

<ipython-input-164-85502f78c8fc>:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rfdata.fit(X,y)

RandomForestClassifier(criterion='entropy', n_jobs=4, oob_score=True)

In [165]:
data["rf_pred"] = rfdata.predict(X)

In [172]:
from sklearn.metrics import confusion_matrix
confusion_matrix(data["TaxableIncome"],data["rf_pred"])

array([[1, 0, 0, ..., 0, 0, 0],
       [0, 1, 0, ..., 0, 0, 0],
       [0, 0, 1, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 1, 0, 0],
       [0, 0, 0, ..., 0, 1, 0],
       [0, 0, 0, ..., 0, 0, 1]], dtype=int64)

In [167]:
from sklearn.model_selection import train_test_split

In [168]:
# Splitting data into train & test
Xtrain, Xtest, ytrain, ytest = train_test_split(X, y, test_size=0.2, random_state=0)

In [169]:
#Choosing RandomForestClassifier
from sklearn.ensemble import RandomForestClassifier

In [170]:
forest = RandomForestClassifier(n_estimators=150,max_depth=5,min_samples_split=20,criterion='entropy') 
forest.fit(Xtrain, ytrain)

<ipython-input-170-7b1920060ca2>:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  forest.fit(Xtrain, ytrain)

RandomForestClassifier(criterion='entropy', max_depth=5, min_samples_split=20,
                       n_estimators=150)

In [171]:
print('Train accuracy: {}'.format(forest.score(Xtrain, ytrain)))
print('Test accuracy: {}'.format(forest.score(Xtest, ytest)))

Train accuracy: 0.9166666666666666
Test accuracy: 0.0